body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.crossBtn {
  border: none;
  background: none;
  color: #ccc;
  font-size: 32px;
  cursor: pointer;
}

.crossBtn:hover,
.crossBtn:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.button {
  margin-right: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;
}

.main{
  padding-top: 113px;
  padding-bottom: 97px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  height: calc(100vh);
  background-color: #f9f9f9;
}

.canvas-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

#imageCanvas {
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
  margin: auto;
  box-sizing: border-box;
}

#footer_main{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50px;
  padding: 0 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  box-sizing: border-box;  
}

#zoomSlider{
  margin: 17px 0px;
  float: right;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: start;
}

#footer div {
  margin-right: 20px;
}

#colorCircle {
  width: 30px;
  margin-left: 5px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

#colorInfo {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.modal_style {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

dialog {
  border: none;
  padding: 0;
  margin: 5% auto;
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ccc;
}

.modal_header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  padding: 5px;
}

.modal_txt{
  font-size: 16px;
  font-weight: 500;
}

.modal-content {
  background-color: #f9f9f9;
  margin: 5% auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 40%;
}

.modal_form{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.rgb_style{
  display: flex;
  align-items: center;
}

#sizeInfo{
  margin-left: 5px;
}

#coordsInfo{
  margin-left: 5px; 
}

.footer_txt{
  font-size: 15px;
}

.btn_upload::file-selector-button{
  padding: 10px;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;   
}

#inputUrl, #widthInput, #heightInput, #outPointX, #outPointY, #inPointX, #inPointY{
  padding: 10px;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc; 
}

.input_determine{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

#unitsSelect, #displayOptionSelect, #channelSelect {
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
  appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
   background-repeat: no-repeat;
   background-position: right center;
}

.button_show{
  margin-top: 10px;
}

.label_deter{
  margin-top: 5px;
}

#submitBtn, #showButton, #previewButton, #applyButton, #resetButton, #applyBtn{
  padding: 10px;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;
  width: 100%; 
}

input[type="text"]::-webkit-input-placeholder {
  color: black;
 } 
 input[type="text"]::-moz-placeholder {
  color: black;
 }

 input[type="number"]{
  margin-top: 5px;
 }

 #zoomSlider {
  width: 200px;
  height: 10px;
  background-color: white;
  border: none;
  -webkit-appearance: none;
}

#zoomSlider:hover {
  cursor: pointer;
}

#zoomSlider:active {
  cursor: grabbing;
}

#zoomSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background-color: #ccc;
}

/* Стиль заполненного трека */
#zoomSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Удаление стандартного внешнего вида ползунка */
  width: 15px;
  height: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc; 
  border-radius: 50%;
  margin-top: -4px;
}

.dialog_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 8px; /* opinion 3 */
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  width: 155px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
  margin-left: 10px;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

#sidebar {
  position: fixed;
  top: 63px;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.toolButton {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f9f9f9;
  color: #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.toolButton.active {
  background-color: #ccc;
  color: #fff;
  border-radius: 4px;
}

.material-icons{
  text-align: center;
}

.toolButton:hover .tooltip {
display: block;
}

.tooltip {
  display: none;
  position: absolute;
  left: 100%;
  transform: translate(10px, -50%);
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px; 
  border-radius: 4px;
  margin-left: 10px;
}

.tooltip-content {
  font-weight: bold;
  display: flex;
  font-size: 14px;
  color: black;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  padding: 5px;
}

.tooltip-description {
  display: flex;
  text-align: left;
  font-size: 12px;
  color: black;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
}

.tooltip-hotkey { 
  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
  bottom: 5px;
  right: 5px;
  text-align: right;
  color: #777;
  font-size: 10px;
  margin: 5px 0 0 0;
}

#info-panel {
  position: fixed;
  display: none;
  top: 63px;
  right: 0;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  justify-content: flex-end;
  padding: 5px;
  width: 393px;
}

.color-swatch-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.color-swatch {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.swatch{
  width: 179px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.coords{
  display: flex;
  gap: 5px;
}

.color-block {
  height: 50px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

ul {
  padding-left: 0;
}

.color-info {
  font-size: 14px;
  line-height: 1.5;
}

.color-spaces li {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin: 10px 0;
}

.contrast-info {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}

#contrast-status, #contrast-status-2 {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.contrast-status {
  color: red; /* Пример цвета для обозначения недостаточного контраста */
}


#contrast-status-2.insufficient {
  background-color: #f00;
  color: #fff;
}

.color-spaces {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.color-spaces th, .color-spaces td {
  border: 1px solid #ddd;
  padding: 3px;
}

.color-spaces th {
  background-color: #f2f2f2;
}

.color_span{
  font-size: 12px;
}

.input-group {
  margin-top: 10px;
  display: flex;
}

.input-group input {
  margin: 0 5px;
  padding: 5px;
}

.input_group_point{
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.point_2{
  margin-left: 20px;
}

.point_3{
  margin-left: 20px;
  margin-top: 5px;
}

.button-group {
  margin-top: 20px;
}

.preview-button-container {
  margin-bottom: 10px;
}

.apply-reset-container {
  display: flex;
  justify-content: center;
  padding-block-end: 10px;
}

.apply-reset-container .button {
  margin: 0 10px;
}

.spacer {
  width: 15px;
  height: 1px; /* Установите высоту, чтобы она занимала место */
}

.modal-content2 {
  background-color: #f9f9f9;
  margin: 5% auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 30%;
}

#curveCanvas{
  /* width: 100%; */
  text-align: center;
}

.canvas_prev_curve{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  text-align: start;
}

#canvas_preview{
  width: 48%;
  height: 48%;
}

#channelSelect{
  margin-top: 10px;
}